@page "/"
@using FakeProduct.Models
@using FakeProduct.Services
@inject FakeStoreService fakeStoreService

<PageTitle>Início</PageTitle>

<h1>Loja Fake</h1>
<p>Bem vindos a nossa loja fake!</p>

<button @onclick="Teste">Teste</button>

@foreach (var p in Products)
{
    <div>
        <h2>@p.Title</h2>
        <p>@p.Description</p>
        <img src="@p.Image" alt="@p.Title" style="width: 100px; height: 100px;" />
        <p>Price: @p.Price.ToString("C")</p>
    </div>
}



@code {
    private List<Product> Products = new();

    private async void Teste()
    {
        Products = await fakeStoreService.GetProductsAsync();

        StateHasChanged(); 
    }
}